<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="本网页提供Xshell和Xftp免费个人版的官方下载地址">
    <meta name="keywords"
          content="Xshell，Xshell5下载，Xshell5官网下载，Xshell5免费版，Xshell5个人版，Xftp，Xftp免费版下载，Xshell免费版下载，netsarang"/>
    <title>Xshell / Xftp 家庭学生个人免费官方版下载</title>
    <link rel="shortcut icon" type="image/x-icon"
          href="https://ws2.sinaimg.cn/large/7efa749fgy1fw0vqmj8vwj200g00g0gm.jpg"/>
    <link rel="stylesheet" href="https://fonts.lug.ustc.edu.cn/css?family=Raleway:200"/>
    <link href="https://lib.baomitu.com/pure/1.0.0/pure-min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/index.css"/>

    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/layer/layer.js"></script>
    <script type="text/javascript" src="/static/js/utils/device.js"></script>
    <script type="text/javascript" src="/static/js/utils/util.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
</head>

<body>
<div id="main">
    <div class="header">
        <h1>Xshell / Xftp 官方版下载</h1>
        <h2>支持Xshell、Xftp、Xshell Plus、Xmanager Power Suite各版本下载</h2>
        <h2>源自netsarang官网！</h2>
        <table>
            <tbody>
            <tr>
                <td>
                    <a target="_blank" href="https://www.woytu.com">资源站</a>
                </td>
                <td>
                    <a target="_blank" href="https://woetu.com">WeChat小程序</a>
                </td>
                <td>
                    <a target="_blank" href="https://woytu.github.com">GitHub</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="content">
        <p>
            <b>官方所有下载：</b>
            <a target="_blank" href="https://www.netsarang.com/zh/all-downloads">
                https://www.netsarang.com/zh/all-downloads
            </a>
        </p>
        <p>
            <b>安装方式：</b>
            <a target="_blank" href="https://www.woytu.com/?dir=DeveloperTool/SSH">
                https://www.woytu.com/?dir=DeveloperTool/SSH
            </a>
        </p>
        <form class="pure-form pure-form-stacked">
            <fieldset>
                <label for="xshell-app"><b>软件:</b></label>
                <select class="pure-input-1" id="xshell-app">
                    <option value="xshell-plus" selected>Xshell Plus</option>
                    <option value="xmanager-power-suite">Xmanager Power Suite</option>
                    <option value="xshell">Xshell</option>
                    <option value="xftp">Xftp</option>
                </select>
                <label for="xshell-version"><b>版本:</b></label>
                <select class="pure-input-1" id="xshell-version">
                    <option value="6" selected>6.x (目前最新版本)</option>
                </select>
                <a class="pure-button pure-button-primary pure-input-1" onclick="xshellDownload()">点击下载</a>
                <span class="pure-form-message">
                    如果打开下载页面没有自动下载软件，请点击[begin downloading]链接手动下载
                </span>
            </fieldset>
            <a class="button-secondary pure-button pure-input-rounded pure-u-1 a-active" target="_blank"
               href="https://key.woytu.com">激活方式</a>
        </form>

    </div>
    <div class="footer">
        <div class="legal pure-g">
            <div class="pure-u-1 u-sm-1-2">
                <p class="legal-license">
                    This site is built with using <a href="https://www.purecss.cn" target="_black">Pure</a> v1.0.0
                </p>
            </div>
            <div class="pure-u-1 u-sm-1-2">
                <p class="legal-copyright">
                    本网页所有代码版权归 <a href="https://woytu.com" target="_black">woytu.com</a> 所有。
                    <span class="version"></span>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- 统计代码 -->
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?fd8e8310d355b9a394ad2448420498b2";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130580298-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-130580298-1');
</script>

</body>

</html>